<html>
  <head>
    <meta charset="UTF-8">
    <title>短縮URLサービス</title>
  </head>

  <body>
    <h1>短縮URLサービス</h1>
    <form method="POST" action="/">
      URLを入力してください:
      <input type="text" name="url" size="50" maxlength="256">
      <input type="submit" value="短縮">
    </form>
  </body>
</html>
